flask==3.0.0
flask-cors==4.0.0
gunicorn==21.2.0

# Spleeter + its compatible deps
spleeter==2.1.0
librosa==0.8.0
numpy==1.18.5

# Other audio tools
soundfile==0.12.1
pyloudnorm==0.1.1
pydub==0.25.1

# HTTP client
requests==2.31.0
